@media screen and (max-width: 1400px) {

/*-------------------------------------Section 01--------------------------------------------*/ 

div.d-50{

    width: 100%;
    height: 100%;
}

div#register{

    margin: 12.5% auto;
}


/*-------------------------------------Section 02--------------------------------------------*/ 

section.s-02{

    height: 700px;
}

.s-02 .d-40{

    display: none;
}

.s-02 .d-60 {

    width: 100%;
    height: 700px;

    margin: 150px 100px 100px 100px;
    padding: 0px;

    text-align: center;
}

.s-02 .d-60 h5{

    width: 90%;
    margin:  50px auto;
}

.s-02 .d-60 div{

    text-align: center;
    margin: 80px auto;
}
/*-------------------------------------Section 03--------------------------------------------*/ 

section.s-03{

    height: 1100px;
}

.d-ver-itens{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}

.s-03 .d-hor .d-ver-itens p{

    width: 50%;
}


/*-------------------------------------Section 04--------------------------------------------*/ 

.d-30{

    display: none;
}

section.s-04{

    display: block;
    flex-direction: row;   
    height: 750px;
}

.s-04 .d-40{

    width: 100%;
    text-align: center;
}


.s-04 .d-40 h1{

    padding-left: 0px;
}

.s-04 .d-40 p{

    text-align: center;
}

div.logo{

    display: block;
}


@media screen and (max-width: 800px) {


/*-------------------------------------Section 01--------------------------------------------*/ 

/*-------------------------------------Section 02--------------------------------------------*/ 

/*-------------------------------------Section 03--------------------------------------------*/ 

/*-------------------------------------Section 04--------------------------------------------*/ 

}

@media screen and (max-width: 500px) {

/*-------------------------------------Section 01--------------------------------------------*/ 

/*-------------------------------------Section 02--------------------------------------------*/ 

/*-------------------------------------Section 03--------------------------------------------*/ 

/*-------------------------------------Section 04--------------------------------------------*/ 

}