/*--------------------------------------1400px----------------------------------------------*/ 

@media screen and (max-width: 1400px) {
    html{
        font-size: 50.0%;
    }
}

@media screen and (max-width: 1200px) {
    .main-div{
        width: 100%;
    }

    div.d-false-button{
        width: 70%;
    }

    section.statistic-sec .w-40{
        padding: 2.0rem;
    }

    footer .w-40{
        width: 60%;
    }

    .man-suit{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    section.statistic-sec img{
        display: none;
    }

    section.statistic-sec .w-40{
        display: none;
    }

    section.statistic-sec .w-60{
        width: 100%;
        text-align: center;
    }

    section.statistic-sec .w-60 div{
        margin: 0 auto;
    }

    .container-grid{
        grid-template-columns: repeat(auto-fit, 30rem);
        grid-row-gap: 50px;
    }

    footer .w-30{
        display: none;
    }

    footer .w-40{
        width: 100%;
        margin: 0;
    }

    footer p{
        width: 100%;
        text-align: center;
    }

    footer h1{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    html{
        font-size: 40.0%;
    }

    .main-sec{
        padding: 7.0rem;
    }

    div.form-div{
        max-width: 350px;
    }

    div.d-false-button{
        width: 80%;
        
    }

    .pillars-sec .false-button-div{
        width: 100%;
        padding: 0px;
    }

    .statistic-sec .w-60{
        padding: 0px;
    }

}

@media screen and (max-width: 576px) {
    html{
        font-size: 35.0%;
    }

    .main-sec {
        padding: 2rem;
    }

    input.form-text{
        height: 40px;
    }

    input.form-button{
        height: 50px
    }

    .container-grid{
        grid-template-columns: repeat(auto-fit, 50rem);
    }
}