/*-------------------------------------default--------------------------------------------*/ 
@charset 'UTF-8';

*{ 
    margin: 0px; 
    padding: 0px; 
    } 

h1, h2, h3, h4, h5, h6 { 
    font: normal normal normal 1.6rem/30px Arial, Verdana, Helvetica, sans-serif
    } 

:root{
    --dark-blue: #1D252C;
    --normal-blue: #4e8098;
    --light-white: #F4F1DE;
    --light-red: #e07a5f;
    --dark-red: #BC2C1A;
    }

body{
    zoom: 1;
    font-family: 'monteserrat';
}

html{
    font-size: 62.5%;
}

main{
    display: block;
}

.row-flex{display: flex; flex-direction: row;}
.col-flex{display: flex; flex-direction: column;}
.block{display: block;}
.m-auto{margin: 0 auto;}

.h-100{height: 100%;}
.h-90{height: 90%;}
.h-80{height: 80%;}
.h-70{height: 70%;}
.h-60{height: 60%;}
.h-50{height: 50%;}
.h-40{height: 40%;}
.h-30{height: 30%;}
.h-20{height: 20%;}
.h-10{height: 10%;}

.w-100{width: 100%;}
.w-90{width: 90%;}
.w-80{width: 80%;}
.w-70{width: 70%;}
.w-60{width: 60%;}
.w-50{width: 50%;}
.w-40{width: 40%;}
.w-30{width: 30%;}
.w-20{width: 20%;}
.w-10{width: 10%;}

.text-center{text-align: center;}
.position-relative{position: relative;}
.position-absolute{position: absolute;}

.img-fluid {max-width: 100%; height: auto;}
.img-responsive {display: block; max-width: 100%;height: auto;}

/*-----------------------------------------section01---------------------------------------------*/ 

.main-sec{
    background-image:url(../images/background-02.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-div{
    max-width: 500px;
    margin: 100px auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.logo-div{
    padding: 30px;
}

h1{
    font-size: 4.2rem;
    line-height: 4.0rem;
    margin: 10px;
    align-items: center;
    font-family: 'Futura-Bold';
}

.main-sec h2{
    font-size: 2.6rem;
    margin: 20px;
    font-family: 'monteserrat';
}

.form-text{
    margin: 2px auto 2px auto;
    height: 50px;
    font-size: 1.6rem;
    font-family: 'monteserrat';
}

.form-button{
    margin: 2px auto 2px auto;
    height: 60px;
    width: 101%;
    font-size: 1.8rem;
    background-color: red;
    color:#fff;
    font-family: 'monteserrat';
    cursor: pointer;
}

.main-sec p{
    margin: 15px;
    font-size: 1.6rem;
}

/*-----------------------------------------section02---------------------------------------------*/ 

.statistic-sec{
    background-image:url(../images/background-03.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.statistic-sec .w-40{
    padding: 80px 100px;
}

.statistic-sec .w-60{
    padding: 80px 100px;
    color: white;
    align-self: center;
}

.d-false-button{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    height: 50px;
    width: 50%;
    margin: 10px;
    margin-bottom: 200px;
    border-radius: 5px;
    font-size: 1.8rem;
}

.statistic-sec .w-60 h1{
    margin-bottom: 30px;
}

.statistic-sec .w-60 p{
    font-size: 2.8rem;
    margin: 10px;
    margin-bottom: 30px;
    font-family: 'Futura-Bold';
    line-height: 35px;
}

.statistic-sec .w-60 span{
    color: red;
}
/*-----------------------------------------section03---------------------------------------------*/ 

.pillars-sec{
    background-image:url(../images/background-03.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 30px;

}

.pillars-sec h1{
    color: white;
    margin: 0px;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center; 
    margin: 120px 0px 0px 0px;
}

.container-grid div{
    margin: 0px 30px;
}

.container-grid p{
    color: white;
    font-size: 2.2rem;
}

.false-button-div{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 100px;
    margin-top: 120px;
}

/*-----------------------------------------footer---------------------------------------------*/

footer{
    background-image:url(../images/background-03.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 0px 0px;
    color: white;
}

footer h1{
    text-align: justify;
    margin: 80px 0px 80px 100px;
}

footer p{
    font-size: 2.2rem;
    text-align: justify;
    margin: 0px 0px 0px 100px;
    line-height: 40px;
    width: 75%;
}

footer .w-30{
    padding-bottom: 0px;
}