/*-------------------------------------Default--------------------------------------------*/ 

@charset 'UTF-8';

*{ 

    margin: 0px; 
    padding: 0px; 
    } 

h1, h2, h3, h4, h5, h6 { 

    font: normal normal normal 1.6rem/30px Arial, Verdana, Helvetica, sans-serif
    } 

body{

    zoom: 1;
    font-family: 'monteserrat';
}

html{

    font-size: 62.5%;;
}

main{

    display: block;
}

/*--------------------------------------Section-----------------------------------------------*/

section.s-main{

    max-width: 100%;
    min-width: 100%;
    height: 950px;
    background-image:url(../images/background-02.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
 
    display: flex;
    flex-direction: row;
}

section.s-default{

    width: 100%;
    height: 850px;

    background-image:url(../images/background-03.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
}


/*---------------------------------------Aside-----------------------------------------------*/ 

aside.a-60{

    width: 60%;
}

aside.a-50{

    width: 50%;
}

aside.a-40{

    width: 40%;
}

aside.a-30{

    width: 30%;
}

aside.a-hor{

    display: flex;
    flex-direction: column;

    width: 100%;
}

aside.a-ver{

    display: flex;
    flex-direction: row;
}

aside#a-40-description{

    width: 40%;
}

/*---------------------------------------Text------------------------------------------------*/

h1{

    color: white;
    font: normal normal normal 4.2rem/54px 'Futura-Bold', Arial, Verdana, Helvetica, sans-serif;
}

h2{

    color: white;
    font: normal normal normal 3.2rem/3.0rem 'Futura BdCn BT', Arial, Verdana, Helvetica, sans-serif
}

h3{

    font-size: 4.5rem;
    letter-spacing: 1.2px;
    font-family: 'Futura BdCn BT';
}

h4{

    color: black;
    font: normal normal normal 2.8rem/3.0rem 'Futura Bk BT', Arial, Verdana, Helvetica, sans-serif
}

h5{

    color: white;
    font: normal normal normal 2.8rem/3.0rem 'Futura Bold', Arial, Verdana, Helvetica, sans-serif

}

h6{

    color: black;
    font: normal normal normal 1.6rem/3.0rem 'Futura Bk BT', Arial, Verdana, Helvetica, sans-serif
}

p{

    color: white;
    font: normal normal normal 2.2rem/3.0rem 'monteserrat', Arial, Verdana, Helvetica, sans-serif
}

/*-------------------------------------Section 01--------------------------------------------*/ 


div#register{

    margin: 12.5% 15% 12.5% 15%;

    max-width: 575px;
    min-width: 280px;
    height: 75%;
    
    /* transform: translate(0, 17.5%); */

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;

    text-align: center;
}

div#register-logo{

    height: 20%;
}

div#register-company{

    background-color: red;
    max-width: 402.5px;
    min-width: 280px;
    height: 60%;
    margin: auto;
    transform: translate(0, 40%);
    border-radius: 20px;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

div#register-company > h2{

    padding: 0px 5px 0px 0px;
    width: 35%;
    transform: translate(0, 8%);

    text-align: right;
    font-size: 3.4rem;
    line-height: 3.5rem;

}

div#register-company > h1{

    padding: 15px 0px 0px 15px;
    width: 65%;
    background-color: black;

    font-family: 'Parisienne';
    font-size: 4.8rem;
    text-align: left;
    color: white;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

div#register > h3{

    height: 15%;
    margin-top: 2px;
    padding: 5px;

    text-align: center;
    line-height: 4.0rem;
}

div#register > h4{

    height: 20%;
    width: 95%;
    margin: auto auto auto auto;

    text-align: center;
    line-height: 4.0rem;
}

.register-text{

    height: 10%;
    width: 90%;
    margin: 2px auto 2px auto;

    text-align: left;
    line-height: 4.0rem;
    font-size: 2.2rem;

    border-radius: 5px;
}

.register-button{

    height: 11%;
    width: 91%;
    margin: 2px auto 2px auto;
    
    text-align: left;
    line-height: 4.0rem;
    font-size: 2.0rem;
    text-align: center;

    border-radius: 5px;

    background-color: #FF0000;
    color: white;
}


/*-------------------------------------Section 02--------------------------------------------*/ 

div#d-closed-img{

    width: 80%;
    height: 100%;
    margin: auto;
    
}

#d-closed-img > img{

    width: 100%;
    transform: translate(0%, 30%);
}

.s-default .a-60{

    padding: 200px 40px 0px 40px;
}

.s-default .a-60 h5{

    margin-top: 70px;
    width: 80%;
}

span{

    color: red;
}

.s-default .a-60 div{

    margin-top: 35px;

    max-width: 438px;
    min-width: 438px;
    
    min-height: 71.5px;

    background-color: red;
    border-radius: 5px;
}

.s-default .a-60 p{

    text-align: center;
    transform: translate(0, 70%);
}


/*-------------------------------------Section 03--------------------------------------------*/ 

.a-ver-title{

    display: flex;
    flex-direction: row;
}

.a-ver-itens{

    display: flex;
    flex-direction: row;

}

.a-ver-lines{

    display: flex;
    flex-direction: row;
}

.a-ver-button{

    display: flex;
    flex-direction: row;
}


.s-default .a-hor .a-ver-title h1{

    margin: 150px auto 0px auto;
    text-align: center;
}

.s-default .a-hor .a-ver-itens p{

    margin: 80px auto 0px auto;
    padding: 60px 40px 0px 40px;
    
    text-align: center;
    color: white;
    font-size: 2.2rem;

    width: 13%;
}

.s-default .a-hor .a-ver-lines .line{

    margin: 30px auto 0px auto;
    width: 4%;
}

.s-default .a-hor .a-ver-button input{

    margin: 120px auto 0px auto;
    text-align: center;

    max-width: 500px;
    height: 90px;
}


/*-------------------------------------Section 04--------------------------------------------*/ 

div#d-logo{

    width: 70%;
    height: 80%;
    margin: auto;

    background-image:url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;

    transform: translate(0, 22%);
}

.s-default #a-40-description h1{

    margin: 280px 0 0 0;
    padding: 0px 0px 0px 80px;
}

.s-default #a-40-description p{

    margin: 60px 0 0 0;
    padding: 0px 0px 0px 80px;
    width: 76%;

    text-align: justify;
    line-height: 3.5rem
}

div#d-suit-man{

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.s-default .a-30 img{

    transform: translate(-8%, 16%);
}
